# Python basics 
## sub headline 
regular text *text* **text** 
- point 1
- point 2 
- ponit 3

In [1]:
print ("Hello world")

Hello world

In [2]:
name = "Lovelace"

In [9]:
print(name)

Lovelace

In [10]:
age = 73

In [5]:
size = 1.7123

In [6]:
knows_math = True
print (knows_math)
likes_garding = False 
print (likes_garding)

True
False

In [7]:
type(size)

float

In [8]:
type(name)

str

In [11]:
5 + 5

10

In [12]:
age * 100

7300

In [13]:
name + name

'LovelaceLovelace'

In [14]:
name * 100

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [15]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [16]:
name + str(10)

'Lovelace10'

In [17]:
name + "10"

'Lovelace10'

In [18]:
size / age

0.023456164383561642

In [20]:
# Functions and methods
print (name)
# print ("hello world")

Lovelace

In [21]:
length (name)

NameError: name 'length' is not defined

In [22]:
len (name)

8

In [23]:
name

'Lovelace'

In [24]:
name.upper()

'LOVELACE'

In [25]:
print(name)

Lovelace

In [26]:
name_upper = name.upper()

In [27]:
print(name)

Lovelace

In [28]:
print(name_upper)

LOVELACE

In [30]:
name.upper() = name_upper

SyntaxError: can't assign to function call (<ipython-input-30-b90400b96b07>, line 1)

In [31]:
name_upper

'LOVELACE'

In [32]:
name.count("e")

2

In [33]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [35]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [36]:
name.count?

In [37]:
# Lists and Dictionaries

In [38]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [39]:
print(names)

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [40]:
type(names)

list

In [41]:
names[2]

'Curie'

In [42]:
names[0]

'Lovelace'

In [43]:
names[-1]

'Hawking'

In [44]:
len(names)

4

In [45]:
len(name)

8

In [46]:
names[0:2]

['Lovelace', 'Darwin']

In [47]:
print(names)

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [49]:
names[2:]

['Curie', 'Hawking']

In [50]:
slice_point = 2
print(names[:slice_point])
print(names[slice_point:])

['Lovelace', 'Darwin']
['Curie', 'Hawking']

In [55]:
authors_and_birth_years ={"Lovelace": 1882, 
                          "Darwin": 1807, 
                          "Noether": names}

In [52]:
authors_and_birth_years["Darwin"]

1809

In [53]:
print(authors_and_birth_years)

{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882}

In [56]:
print(authors_and_birth_years)

{'Lovelace': 1882, 'Darwin': 1807, 'Noether': ['Lovelace', 'Darwin', 'Curie', 'Hawking']}

In [57]:
# for loops

In [58]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [62]:
for name in names: 
    print(name + " did stuff awesome")
    print("---------------")

Lovelace did stuff awesome
Darwin did stuff awesome
Curie did stuff awesome
Hawking did stuff awesome
---------------

print("--------")

In [63]:
authors_and_birth_years

{'Lovelace': 1882,
 'Darwin': 1807,
 'Noether': ['Lovelace', 'Darwin', 'Curie', 'Hawking']}

In [64]:
for autho, birth_year in authors_and_birth_years.items()

SyntaxError: invalid syntax (<ipython-input-64-2be97da64dd2>, line 1)

In [66]:
Workshop = {"Andreas": 1984, "Erika": 1993}

In [68]:
print(Workshop)

{'Andreas': 1984, 'Erika': 1993}

In [69]:
names = Workshop

In [70]:
name

'Hawking'

In [74]:
for name, year in names.items():
    print(name + " was born in", year)

Andreas was born in 1984
Erika was born in 1993

In [76]:
for author, birth_year in authors_and_birth_years.items():
    print(author + "was born in " + str(birth_year))

Lovelacewas born in 1882
Darwinwas born in 1807
Noetherwas born in ['Lovelace', 'Darwin', 'Curie', 'Hawking']

## Conditionals

In [77]:
temp = 20 
if temp > 15: 
    print("It's warm")

It's warm

In [78]:
temp = 5 
if temp > 15: 
    print("It's warm")

In [79]:
temp > 15

False

In [80]:
temp = 22 
if temp > 15: 
    print("It's warm")

It's warm

In [81]:
temp > 15

True

In [84]:
temp = 10 
if temp > 15: 
    print("It's warm")
else: 
    print("It's cold")

It's cold

In [88]:
temp = 20 
if temp >= 15: 
    print("It's hot")
elif temp >= 25: 
    print("It's warm")
else: 
    print("It's cold")

It's hot